<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        {% block javascripts %}
            {% javascripts
                '@MainBundle/Resources/public/js/jquery.min.js'
                '@MainBundle/Resources/public/js/bootstrap.min.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets '@MainBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <title>{% block title %} Base {% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %} Base {% endblock %}
    </body>
</html>
